# OS
.DS_Store

## Node
node_modules

## Svelte
build
.svelte-kit
.vercel
package
dist
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#env files
.env
.env.*
!.env.example

#Turbo
.turbo

# Misc
*.log

# Sentry
.sentryclirc
